{% extends 'generic/object.html' %}
{% load helpers %}
{% load humanize %}
{% load plugins %}

{% block title %}
  {{ object.name }} - {{ object.license_key }}
{% endblock %}

{% block breadcrumbs %}
  {{ block.super }}
  <li class="breadcrumb-item active">{{ object }}</li>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-6">
    <div class="card">
      <h5 class="card-header">License Details</h5>
      <table class="table table-hover attr-table">
        <tr>
          <th scope="row">License Type</th>
          <td>{{ object.license_type|linkify }}</td>
        </tr>
        <tr>
          <th>License Key</th>
          <td class="font-monospace">{{ object|linkify }}</td>
        </tr>
        <tr>
          <th scope="row">Product Key</th>
          <td class="font-monospace">{{ object.product_key|placeholder }}</td>
        </tr>
        <tr>
          <th scope="row">Serial Number</th>
          <td>{{ object.serial_number|placeholder }}</td>
        </tr>
        <tr>
          <th scope="row">License Manufacturer</th>
          <td>{{ object.manufacturer|linkify|placeholder }}</td>
        </tr>
        <tr>
          <th scope="row">Volume Type</th>
          <td>{{ object.license_type.get_volume_type_display }}</td>
        </tr>        
        <tr>
          <th scope="row">Volume Limit</th>
          <td>
            {% if object.volume_type == 'UNLIMITED' %}
              Unlimited
            {% else %}
              {{ object.volume_limit }}
            {% endif %}
          </td>
        </tr>
        <tr>
          <th scope="row">Current Usage</th>
          <td>{{ object.usage_display }}</td>
        </tr>
        {% if object.parent_license %}
        <tr>
          <th scope="row">Parent License</th>
          <td>{{ object.parent_license|linkify }}</td>
        </tr>
        {% endif %}
        {% if object.purchase_date %}
        <tr>
          <th scope="row">Purchase Date</th>
          <td>{{ object.purchase_date|date:"Y-m-d" }}</td>
        </tr>
        {% endif %}

        {% if object.expiry_date %}
        <tr>
          <th scope="row">Expiry Date</th>
          <td>{{ object.expiry_date|date:"Y-m-d" }}</td>
        </tr>
        {% endif %}

        <tr>
          <th scope="row">Expiry Status</th>
          <td>
            {% include "netbox_license/inc/license_progressbar.html" with record=object %}
          </td>
        </tr>
        <tr>
          <th scope="row">Description</th>
          <td>{{ object.description|placeholder }}</td>
        </tr>
      </table>
    </div>

    {% include 'inc/panels/custom_fields.html' %}
  </div>

  <div class="col-md-6">
    <div class="card">
      <h2 class="card-header d-flex justify-content-between align-items-center">
        Assigned Devices ({{ object.usage_display }})
        <div class="card-actions">
          <a href="{% url 'plugins:netbox_license:licenseassignment_add' %}?license={{ object.id }}&manufacturer={{ object.manufacturer.id }}" class="btn btn-ghost-primary btn-sm">
            <span class="mdi mdi-plus-thick" aria-hidden="true"></span> Add Assignment
          </a>
        </div>
      </h2>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Device</th>
            <th>Device Manufacturer</th>
            <th>Assigned On</th>
            <th>Volume</th>
          </tr>
        </thead>
        <tbody>
          {% for assignment in object.assignments.all %}
          <tr>
            <td>{{ assignment.device|linkify|placeholder }}</td>
            <td>{{ assignment.device_manufacturer|linkify|placeholder }}</td>
            <td>{{ assignment.assigned_to|date:"Y-m-d" }}</td>
            <td>{{ assignment.volume }}</td>
          </tr>
          {% empty %}
          <tr>
            <td colspan="4" class="text-muted">No assignments found.</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="card mt-3">
      <h2 class="card-header d-flex justify-content-between align-items-center">
        Sub Licenses
        <div class="card-actions">
          <a href="{% url 'plugins:netbox_license:license_add' %}?parent_license={{ object.pk }}&license_type={{ object.license_type.pk }}&manufacturer={{ object.manufacturer.pk }}" class="btn btn-ghost-primary btn-sm">
            <span class="mdi mdi-plus-thick" aria-hidden="true"></span> Add Sub License
          </a>
        </div>
      </h2>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>License Key</th>
            <th>License Type</th>
            <th>Volume</th>
            <th>Expiry Date</th>
          </tr>
        </thead>
        <tbody>
          {% for sub in object.sub_licenses.all %}
          <tr>
            <td>{{ sub|linkify }}</td>
            <td>{{ sub.license_type|linkify|placeholder }}</td>
            <td>
              {% if sub.license_type.volume_type == 'unlimited' %}
                Unlimited
              {% else %}
                {{ sub.volume_limit|placeholder }}
              {% endif %}
            </td>
            <td>{{ sub.expiry_date|date:"Y-m-d"|placeholder }}</td>
          </tr>
          {% empty %}
          <tr>
            <td colspan="4" class="text-muted">No sub licenses found.</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    

    {% include 'inc/panels/tags.html' %}
    {% include 'inc/panels/comments.html' %}
  </div>
</div>
<div class="row mb-3">
  <div class="col col-md-12">
    {% plugin_full_width_page object %}
  </div>
</div>
{% endblock %}
