{% load helpers %}

<div class="card">
  <h5 class="card-header">Related Objects</h5>
  <table class="table table-hover table-headings">
    <tbody>
      <tr>
        <td>
          <a href="{% url 'plugins:license_management:licenseassignment_list' %}?device_id={{ object.id }}          ">
            Assigned Licenses
          </a>
        </td>
        <td class="text-end">
          <span class="badge bg-primary">{{ licenses|length }}</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
