{% extends 'generic/object.html' %}
{% load helpers %}

{% block title %}
  {{ object.software_name }} - {{ object.license_key }}
{% endblock %}

{% block breadcrumbs %}
  {{ block.super }}
  <li class="breadcrumb-item">
    <a href="{% url 'plugins:license_management:license_list' %}">Licenses</a>
  </li>
  <li class="breadcrumb-item active">{{ object }}</li>
{% endblock %}

{% block content %}
<div class="row">
  <!-- License Details -->
  <div class="col-md-6">
    <div class="card">
      <h5 class="card-header">License Details</h5>
      <table class="table table-hover attr-table">
        <tr>
          <th scope="row">Software Name</th>
          <td>{{ object.software_name|placeholder }}</td>
        </tr>
        <tr>
          <th>License Key</th>
          <td class="font-monospace">{{ object.license_key|placeholder }}</td>
        </tr>
        <tr>
          <th scope="row">Product Key</th>
          <td class="font-monospace">{{ object.product_key|placeholder }}</td>
        </tr>
        <tr>
          <th scope="row">Serial Number</th>
          <td>{{ object.serial_number|placeholder }}</td>
        </tr>
        <tr>
          <th scope="row">Manufacturer</th>
          <td>{{ object.manufacturer|linkify|placeholder }}</td>
        </tr>
        <tr>
          <th scope="row">Assignment Type</th>
          <td>{{ object.get_assignment_type_display }}</td>
        </tr>
        <tr>
          <th scope="row">Volume Limit</th>
          <td>
            {% if object.assignment_type == 'UNLIMITED' %}
              Unlimited
            {% else %}
              {{ object.volume_limit }}
            {% endif %}
          </td>
        </tr>
        <tr>
          <th scope="row">Current Usage</th>
          <td>{{ object.usage_display }}</td>
        </tr>
        <tr>
          <th scope="row">Parent License</th>
          <td>{{ object.parent_license|linkify|placeholder }}</td>
        </tr>
        <tr>
          <th scope="row">Purchase Date</th>
          <td>{{ object.purchase_date|date:"Y-m-d"|placeholder }}</td>
        </tr>
        <tr>
          <th scope="row">Expiry Date</th>
          <td>{{ object.expiry_date|date:"Y-m-d"|placeholder }}</td>
        </tr>
        <tr>
          <th scope="row">Description</th>
          <td>{{ object.description|placeholder }}</td>
        </tr>
      </table>
    </div>

    {% include 'inc/panels/custom_fields.html' %}
  </div>

  <!-- Assigned Devices -->
  <div class="col-md-6">
    <div class="card">
      <h5 class="card-header">Assigned Devices ({{ object.usage_display }})</h5>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Device</th>
            <th>Manufacturer</th>
            <th>Assigned On</th>
            <th>Volume</th>
          </tr>
        </thead>
        <tbody>
          {% for assignment in object.assignments.all %}
          <tr>
            <td>{{ assignment.device|linkify|placeholder }}</td>
            <td>{{ assignment.manufacturer|linkify|placeholder }}</td>
            <td>{{ assignment.assigned_to|date:"Y-m-d" }}</td>
            <td>{{ assignment.volume }}</td>
          </tr>
          {% empty %}
          <tr>
            <td colspan="4" class="text-muted">No assignments found.</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    {% include 'inc/panels/tags.html' %}
    {% include 'inc/panels/comments.html' %}
  </div>
</div>
{% endblock %}
