{% extends 'generic/object.html' %}
{% load helpers %}


{% block title %}License Assignment{% endblock %}

{% block breadcrumbs %}
  {{ block.super }}
  <li class="breadcrumb-item">
    <a href="{% url 'plugins:license_management:licenseassignment_list' %}">License Assignments</a>
  </li>
  <li class="breadcrumb-item active">{{ object }}</li>
{% endblock %}

{% block content %}
<div class="row">
  <!-- License Details -->
  <div class="col-md-6">
    <div class="card">
      <h5 class="card-header">License Details</h5>
      <table class="table table-hover attr-table">
        <tr>
          <th scope="row">Name</th>
          <td>{{ object.license.name|placeholder }}</td>
        </tr>
        <tr>
          <th scope="row">License Key</th>
          <td class="font-monospace">{{ object.license.license_key|placeholder }}</td>
        </tr>
        <tr>
          <th scope="row">Product Key</th>
          <td class="font-monospace">{{ object.license.product_key|placeholder }}</td>
        </tr>
        <tr>
          <th scope="row">Serial Number</th>
          <td>{{ object.license.serial_number|placeholder }}</td>
        </tr>
        <tr>
          <th scope="row">Manufacturer</th>
          <td>{{ object.license.manufacturer|linkify|placeholder }}</td>
        </tr>
        <tr>
          <th scope="row">Assignment Type</th>
          <td>{{ object.license.get_assignment_type_display }}</td>
        </tr>
        <tr>
          <th scope="row">Parent License</th>
          <td>{{ object.license.parent_license|linkify|default:"None" }}</td>
        </tr>
        <tr>
          <th scope="row">Purchase Date</th>
          <td>{{ object.license.purchase_date|date:"Y-m-d" }}</td>
        </tr>
        <tr>
          <th scope="row">Expiry Date</th>
          <td>{{ object.license.expiry_date|date:"Y-m-d" }}</td>
        </tr>
      </table>
    </div>
  </div>

  <!-- Assignment Details -->
  <div class="col-md-6">
    <div class="card">
      <h5 class="card-header">Assignment Details</h5>
      <table class="table table-hover attr-table">
        <tr>
          <th scope="row">Device</th>
          <td>{{ object.device|linkify|placeholder }}</td>
        </tr>
        <tr>
          <th scope="row">Manufacturer</th>
          <td>{{ object.device.manufacturer|linkify|placeholder }}</td>
        </tr>
        <tr>
          <th scope="row">Assigned On</th>
          <td>{{ object.assigned_to|date:"Y-m-d" }}</td>
        </tr>
        <tr>
          <th scope="row">Volume</th>
          <td>{{ object.volume }}</td>
        </tr>
        <tr>
          <th scope="row">Description</th>
          <td>{{ object.description|placeholder }}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
{% endblock %}
