{% extends 'generic/object.html' %}
{% load helpers %}
{% load humanize %}
{% load plugins %}

{% block title %}{{ object.software_name }}{% endblock %}

{% block breadcrumbs %}
  {{ block.super }}
  <li class="breadcrumb-item">
    <a href="{% url 'plugins:license_management:license_list' %}">{{ object.software_name }}</a>
  </li>
{% endblock %}

{% block content %}
<div class="row mb-3">
  <div class="col-md-6">
    <div class="card">
      <h5 class="card-header">License Details</h5>
      <table class="table table-hover attr-table">
        <tr>
          <th scope="row">License Key</th>
          <td class="font-monospace">{{ object.license_key|placeholder }}</td>
        </tr>
        <tr>
          <th scope="row">Software Name</th>
          <td>{{ object.software_name|placeholder }}</td>
        </tr>
        <tr>
          <th scope="row">Vendor</th>
          <td>{{ object.vendor|placeholder }}</td>
        </tr>
        <tr>
          <th scope="row">Description</th>
          <td>{{ object.description|placeholder }}</td>
        </tr>
        <tr>
          <th scope="row">License Type</th>
          <td>{{ object.get_type_display|placeholder }}</td>
        </tr>
        <tr>
          <th scope="row">Status</th>
          <td>{% badge object.get_status_display bg_color=object.get_status_color %}</td>
        </tr>
        <tr>
          <th scope="row">Assignment Type</th>
          <td>{{ object.get_assignment_type_display|placeholder }}</td>
        </tr>
        <tr>
          <th scope="row">Max Assignments</th>
          <td>{{ object.max_assignments|intcomma }}</td>
        </tr>
        <tr>
          <th scope="row">Purchase Date</th>
          <td>{{ object.purchase_date|isodate|placeholder }}</td>
        </tr>
        <tr>
          <th scope="row">Expiry Date</th>
          <td>{{ object.expiry_date|isodate|placeholder }}</td>
        </tr>
      </table>
    </div>

    <div class="card">
      <h5 class="card-header">Actions</h5>
      <div class="card-body">
        {% if perms.license_management.change_license %}
          <a href="{% url 'plugins:license_management:license_edit' object.pk %}" class="btn btn-sm btn-primary">
            <i class="mdi mdi-pencil"></i> Edit License
          </a>
        {% endif %}
        {% if perms.license_management.delete_license %}
          <a href="{% url 'plugins:license_management:license_delete' object.pk %}" class="btn btn-sm btn-danger">
            <i class="mdi mdi-delete"></i> Delete License
          </a>
        {% endif %}
      </div>
    </div>

    {% include 'inc/panels/custom_fields.html' %}
    {% plugin_left_page object %}
  </div>

  <div class="col-md-6">
    <div class="card">
      <h5 class="card-header">Comments</h5>
      <div class="card-body">
        <p>{{ object.comment|default:"No comments available" }}</p>
      </div>
    </div>

    {% include 'inc/panels/tags.html' %}
    {% include 'inc/panels/comments.html' %}
    {% include 'inc/panels/image_attachments.html' %}
    {% plugin_right_page object %}
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-12">
    {% plugin_full_width_page object %}
  </div>
</div>
{% endblock %}
